@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/PNovaRegular.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova'), local('ProximaNova-Regular'), url('../fonts/PNovaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/PNovaLight.eot');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Light'), local('ProximaNova-Light'), url('../fonts/PNovaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/PNovaBold.eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'), url('../fonts/PNovaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
::selection {
  color: #FFFFFF;
  background: #25AECD;
}

::-moz-selection {
  color: #FFFFFF;
  background: #25AECD;
}

body {
    background: #ECECEC;
    font-family: 'Proxima Nova';
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 2rem 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
}

nav .logo {
    width: 2rem;
    height: auto;
}

nav .logo img {
    width: 100%;
    height: auto;
}

nav .links {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-right: 2rem;
}

nav .links a {
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #25AECD;
    text-decoration: none;
}

nav .links a:hover {
    color: #4D4D4D;
}

nav .links a.disabled {
    color: #AAAAAA;
    pointer-events: none;
    cursor: default;
}

nav .links a:nth-last-of-type() {
    margin-right: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.content .home-ristek-logo {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content .home-ristek-logo .gradient-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
}

.content .home-ristek-logo .gradient-bg img {
    width: 100%;
    height: auto;
}

.content .home-ristek-logo .container {
    position: relative;
    width: 26rem;
    height: 26rem;
    padding: 3.75rem 0 0 3.75rem;
}

.content .home-ristek-logo .diamond {
    width: 17.65rem;
    height: 17.65rem;
    transform: rotate(45deg);
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(77,77,77,1);
    box-shadow: 0px 0px 15px 0px rgba(77,77,77,1);
}

.content .home-ristek-logo img {
    position: absolute;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 12rem;
    width: auto;
}

.content .home-ristek-logo .tagline {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    text-align: center;
}

.content .home-ristek-logo .tagline h1 {
    color: #DC4631;
    font-size: 1.75rem;
    line-height: 1;
    padding: 0.75rem 1rem 0.25rem;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.content .home-ristek-logo .tagline h1 strong {
    font-weight: 700;
}

.content .ornament-squares-upper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%) scaleX(-1);
}

.content .ornament-squares-upper img {
    width: 40rem;
    height: auto;
}

.content .ornament-squares-middle {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
}

.content .ornament-squares-middle img {
    width: 40rem;
    height: auto;
}

.content .lamp-upper {
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.content .lamp-upper img {
    height: 17.5rem;
    width: auto;
}

.content .paradox-upper {
    position: absolute;
    top: 40%;
    right: 7.5%;
    transform: translateY(-50%);
}

.content .paradox-upper img {
    height: 22.5rem;
    width: auto;
}

.content .ornament-cloth-upper {
    position: absolute;
    top: 0;
    left: 0;
}

.content .ornament-cloth-upper img {
    width: 50rem;
    height: auto;
}

.content .ornament-cloth-lower {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-75%) scale(-1, -1);
}

.content .ornament-cloth-lower img {
    width: 70rem;
    height: auto;
}
